<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitgloomy.server.mybatis.ProductMapper">
    <resultMap id="productMap" type="com.bitgloomy.server.domain.Product">
        <id column="uid" property="uid"/>
        <result column="pname" property="pname"/>
        <result column="contents" property="contents"/>
        <result column="product_material" property="productMaterial"/>
        <result column="fabric" property="fabric"/>
        <result column="size" property="size"/>
        <result column="price" property="price"/>
        <result column="discount_rate" property="discountRate"/>
        <result column="quantity" property="quantity"/>
        <result column="deleteyn" property="deleteyn"/>
        <result column="category" property="category"/>
        <result column="img_url" property="imgURL"/>
    </resultMap>
    <insert id="saveProduct">
        INSERT INTO product(pname,contents,product_material,fabric,size,price,quantity,category)
        VALUES(#{pname},#{contents},#{productMaterial},#{fabric},#{size},#{price},#{quantity},#{category});
    </insert>
    <select id="findProductByPname" resultMap="productMap">
        SELECT * FROM product WHERE pname=#{pname};
    </select>
    <select id="findAllProducts" resultMap="productMap">
        SELECT product.*, product_img.img_url FROM product
        JOIN product_img ON product.uid = product_img.product_uid
        WHERE deleteyn='n';
    </select>
</mapper>