<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitgloomy.server.mybatis.ProductMapper">
    <resultMap id="productMap" type="com.bitgloomy.server.domain.Product">
        <id column="uid" property="uid"/>
        <result column="pname" property="pname"/>
        <result column="contents" property="contents"/>
        <result column="product_material" property="productMaterial"/>
        <result column="fabric" property="fabric"/>
        <result column="size" property="size"/>
        <result column="price" property="price"/>
        <result column="discount_rate" property="discountRate"/>
        <result column="quantity" property="quantity"/>
        <result column="deleteyn" property="deleteyn"/>
        <result column="category" property="category"/>
        <association property="productImg" javaType="com.bitgloomy.server.domain.ProductImg">
            <id column="uid" property="uid"></id>
            <result column="product_id" property="productUid"></result>
            <result column="similar_product_name" property="similarProductName"></result>
            <result column="similar_img_url" property="similarImgUrl"></result>
            <result column="img_url" property="imgURL"></result>
            <result column="sub_img_url_1" property="subImgUrl1"></result>
            <result column="sub_img_url_2" property="subImgUrl2"></result>
            <result column="sub_img_url_3" property="subImgUrl3"></result>
            <result column="sub_img_url_4" property="subImgUrl4"></result>
            <result column="sub_img_url_5" property="subImgUrl5"></result>
            <result column="sub_img_url_6" property="subImgUrl6"></result>
            <result column="sub_img_url_7" property="subImgUrl7"></result>
            <result column="sub_img_url_8" property="subImgUrl8"></result>
            <result column="sub_img_url_9" property="subImgUrl9"></result>
            <result column="sub_img_url_10" property="subImgUrl10"></result>
        </association>
    </resultMap>
    <resultMap id="cartMap" type="com.bitgloomy.server.domain.Cart">
        <id column="uid" property="uid"/>
        <result column="user_uid" property="userUid"/>
        <result column="product_uid" property="productUid"/>
        <result column="product_name" property="productName"/>
        <result column="amount" property="amount"/>
        <result column="price" property="price"/>
        <result column="size" property="size"/>
        <association property="productImg" javaType="com.bitgloomy.server.domain.ProductImg">
            <id column="uid" property="uid"></id>
            <result column="product_id" property="productUid"></result>
            <result column="similar_product_name" property="similarProductName"></result>
            <result column="similar_img_url" property="similarImgUrl"></result>
            <result column="img_url" property="imgURL"></result>
            <result column="sub_img_url_1" property="subImgUrl1"></result>
            <result column="sub_img_url_2" property="subImgUrl2"></result>
            <result column="sub_img_url_3" property="subImgUrl3"></result>
            <result column="sub_img_url_4" property="subImgUrl4"></result>
            <result column="sub_img_url_5" property="subImgUrl5"></result>
            <result column="sub_img_url_6" property="subImgUrl6"></result>
            <result column="sub_img_url_7" property="subImgUrl7"></result>
            <result column="sub_img_url_8" property="subImgUrl8"></result>
            <result column="sub_img_url_9" property="subImgUrl9"></result>
            <result column="sub_img_url_10" property="subImgUrl10"></result>
        </association>
    </resultMap>
    <insert id="saveProduct">
        INSERT INTO product(pname,contents,product_material,fabric,size,price,quantity,category)
        VALUES(#{pname},#{contents},#{productMaterial},#{fabric},#{size},#{price},#{quantity},#{category});
    </insert>
    <insert id="saveProductImg">
        INSERT INTO product_img(product_uid,similar_product_name,similar_img_url,img_url,sub_img_url_1,sub_img_url_2,sub_img_url_3,sub_img_url_4,sub_img_url_5,sub_img_url_6,sub_img_url_7,sub_img_url_8,sub_img_url_9,sub_img_url_10)
        VALUES(#{productImg.uid},#{productImg.similarProductName},#{productImg.similarImgUrl},#{productImg.imgURL},#{productImg.subImgUrl1},#{productImg.subImgUrl2},#{productImg.subImgUrl3},#{productImg.subImgUrl4},#{productImg.subImgUrl5},#{productImg.subImgUrl6},#{productImg.subImgUrl7},#{productImg.subImgUrl8},#{productImg.subImgUrl9},#{productImg.subImgUrl10});
    </insert>
    <select id="findProductByPname" resultMap="productMap">
        SELECT product.*,product_img.similar_product_name, product_img.similar_img_url,product_img.img_url, product_img.sub_img_url_1, product_img.sub_img_url_2, product_img.sub_img_url_3, product_img.sub_img_url_4, product_img.sub_img_url_5, product_img.sub_img_url_6, product_img.sub_img_url_7, product_img.sub_img_url_8, product_img.sub_img_url_9, product_img.sub_img_url_10
        FROM product
        JOIN product_img ON product.uid = product_img.product_uid
        WHERE pname=#{pname} AND deleteyn='n';
    </select>
    <select id="findProductUidByPname" resultMap="productMap">
        SELECT *
        FROM product
        WHERE deleteyn='n' AND pname=#{pname};
    </select>
    <select id="findAllProducts" resultMap="productMap">
        SELECT product.*,product_img.img_url
        FROM product
        JOIN product_img ON product.uid = product_img.product_uid
        WHERE deleteyn='n';
    </select>
    <insert id="addCart" >
        INSERT INTO cart(user_uid,product_uid,product_name,amount,price,size)
        VALUES(#{userUid},#{productUid},#{productName},#{amount},#{price},#{size});
    </insert>
    <select id="findAllCarts" resultMap="cartMap">
        SELECT cart.*,product_img.img_url
        FROM cart
        JOIN product_img ON cart.product_uid = product_img.product_uid
        WHERE user_uid=#{uid};
    </select>
    <update id="modifyCart">
        UPDATE cart SET amount = #{amount} , price = #{price}
        WHERE uid = #{uid};
    </update>
    <delete id="deleteCart">
        DELETE FROM cart WHERE uid = #{uid};
    </delete>
    <delete id="deleteAllCart">
        DELETE FROM cart WHERE user_uid = #{userUid};
    </delete>
</mapper>